body,div,html{ margin:0px;padding:0px}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin inner-container($width) {
  width: $width;
  margin: 0px auto;
}

.cotainer-960{
	@include inner-container(960px);
}


.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}